<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="34559FellBorges.MeusPodcasts" Publisher="CN=80292DBA-355C-4C16-9E45-3C789F92FFB0" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Meus Podcasts</DisplayName>
    <PublisherDisplayName>Fell Borges</PublisherDisplayName>
    <Logo>Assets\Images\App\StoreLogo50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MeusPodcasts.App">
      <VisualElements DisplayName="Meus Podcasts" Logo="Assets\Images\App\LogoTile150x150.png" SmallLogo="Assets\Images\App\LogoSmall30x30.png" Description="Com o aplicativo &quot;Meus Podcasts&quot; você cadastra o feed dos seus podcasts favoritos e fica sabendo quando um novo episódio é lançado. Ainda há a possibilidade de escutar o episódio diretamente do aplicativo." ForegroundText="light" BackgroundColor="#333333">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Images\App\LogoWideTile310x150.png" />
        <SplashScreen Image="Assets\Images\App\SplashScreen620x300.png" BackgroundColor="#333333" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>